{% extends "catalog/book_list.html" %}

{% block title %}
    {{ author }}
{% endblock %}

{% block header %}

    <h1>{{ author }}</h1>
    {% if author.portrait %}
        <img class="img-thumbnail detail-image" src="{{ author.portrait }}" alt="Portrait of {{ author }}"><br>
    {% endif %}

    <div class="detail-buttons">
        {% if 'catalog.change_book' in perms %}
            <a type="button" class="btn btn-secondary" href="{% url 'catalog:author-update' author.pk %}">Edit Author</a>
        {% endif %}
        {% if 'catalog.delete_book' in perms %}
            <a type="button" class="btn btn-danger" href="{% url 'catalog:author-delete' author.pk %}">Delete Author</a>
        {% endif %}
    </div>
{% endblock %}